img.laptop-img {
    height: 230px;
    text-align: center;
  }
  
  img.phone-img {
    text-align: center;
    height: 250px;
  }
  
  img.trip-img {
      border-top-right-radius: 50px;
      width: 350px;
  }
  