<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h4 class="text-center mb-3"><strong>Split Expenses Easily with Friends</strong></h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           <div class="text-center mb-3">
            <img src="../../assets/img/trip.jpeg" class="trip-img" alt="">
           </div>
        </div>
        <div class="col-md-8">
            <p class="mt-5">Planning a trip with friends can be a lot of fun, but managing the expenses can be a hassle. Our website
                is designed to make splitting money among friends easy and stress-free. Whether you're on a trip, dining
                out, or sharing any expenses, our platform ensures that everyone pays their fair share.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <h4 class="text-center mb-3"><strong>Seamless Experience on Any Device</strong></h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="my-2">
                <h4>Perfect for Laptop Users</h4>
                <p>When using a laptop, our website offers a comprehensive view with all the features you need at your
                    fingertips. The responsive design ensures that the interface is both functional and aesthetically
                    pleasing, making it simple to navigate and manage your expenses with ease.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="../../assets/img/laptop.png" class="laptop-img" alt="">
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <img src="../../assets/img/phone.png" class="phone-img" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <div class="mt-3">
                <h4>Optimized for Mobile Devices</h4>
                <p>Enjoy a seamless experience on your mobile device. Our platform adapts to various screen sizes,
                    providing
                    an intuitive and user-friendly interface that makes it easy to split expenses, track payments, and
                    stay
                    organized no matter where you are.</p>
            </div>
        </div>

    </div>
</div>